
<html>
        Boston Housing Price Predictor
        <br><br><hr>
        Access the API at the url /bostonapi/[rm as int]/[lstat as int]/[ptr as int]
        <br><br><hr>
        <form action="{{url_for('homePage')}}" method="post">
                Input number of rooms<br>
                <input type="number" step="0.01" name="rm" placehoder="Number of Rooms">
                <br>
                Input percentage of neighborhood below poverty line<br>
                <input type="number" step="0.01" name="lstat" placehoder="Percentage of population below poverty line">
                <br>
                Input Pupil-Teacher Ratio<br>
                <input type="number" step="0.01" name="ptr" placehoder="Pupil-Teacher Ratio">
                <br>
                <button type="submit">Go!</button>
        </form>
</html>